@use './assets/style/common/variables.scss' as vars;
@use './assets/style/common/mixins' as mixins;

body {
  font-size: 16px;
  color: white;
  background-color: teal;
  display: block;
  width: 100%;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: vars.$maxWidth;
  min-width: 200px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}
.container {
  max-width: vars.$maxWidth;
  margin:0 auto;
  min-height: 100vh;
}