@use 'sass:map';
@use './variables' as vars;

$pc-breakpoint: map.get(vars.$G-breakpoints, pc);

@mixin media($breakpoint ) {

  $break: map.get(vars.$G-breakpoints, $breakpoint);

  @media screen and (min-width: #{$break}) {
    @content;
  }
}
@mixin transition {
  transition: all 0.2s ease-out;
}

@mixin slideOut {
  position: fixed;
  width: 100%;
  top: 88px;
  left: 0;
  bottom: 0;
  z-index: 1;
  @include media(pc) {
    top: 88px;
  }
}

@mixin slideIn {
  top: 88px;
  width: 100%;
  left: 0;
  z-index: 2;
  bottom: 0;
  @include media(pc) {
    top: 88px;
  }
}