$fontBold: 700;
$fontSemiBold: 600;
$fontMedium: 500;
$fontRegular: 400;
$fontLight: 300;
$fontThin: 100;

$color-blue: #2873e3;

$color-blue500: #4394f0;
$color-blue600: #2c74e4;
$color-blue700: #235fd2;
$color-tintBluePress: #e4f2ff;
$color-tintBlue: #e4f2ff;


$color-gray200: #c5c8d3;
$color-gray400: #979baa;
$color-gray500: #737684;
$color-gray600: #5a5e6c;

$G-breakpoints: (
  "mobile-min":320px,
  "mobile": 375px,
  "mobileTemp": 460px,
  "tablet": 768px,
  "pc": 1024px,
  "pc-wide": 1330px,
)